/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* With a bigger app, «parts of» this should be in a page specific css file.
   Or a `context` specific css file, when grouping is useful. */

.btntxtdemo #usertext {
  resize: both;
}

.btntxtdemo .outputtext {
  background: darkseagreen;
  margin: 0;
  padding: 0.5em;
}

/* .btntxtdemo input[type="submit"] { */
.btntxtdemo #dotext {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0.5em;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  text-align:center;
  transition: all 0.2s;
}

/* .btntxtdemo input[type="submit"]:hover { */
.btntxtdemo #dotext:hover {
    background-color:#4095c6;
}

@media all and (max-width:30em) {
  .btntxtdemo a.button {
    display:block;
    margin:0.2em auto;
  }
}